Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/efef
URxvt.fading: 10

URxvt.scrollBar: off

URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.useColor: True

URxvt.font: xft:InputMonoNarrow-Thin:pixelsize=22
URxvt*transparent: true
URxvt*shading:5

*.foreground: #687078
*.background: #203830
*.cursorColor: #f79ef0

*color0:   #252c5c
*color1:   #5b0b66
*color2:   #22496c
*color3:   #46277a
*color4:   #7c1b84
*color5:   #5c3499
*color6:   #8126a7
*color7:   #6e3abc
*color8:   #bd0db8
*color9:   #991fc8
*color10:  #c944e1
*color11:  #3872b0
*color12:  #7492d7
*color13:  #906cd8
*color14:  #af7ce4
*color15:  #8ebedd
