Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/efef
URxvt.fading: 10

URxvt.scrollBar: off

URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.useColor: True

URxvt.font: xft:InputMonoNarrow-Thin:pixelsize=22
URxvt*transparent: true
URxvt*shading:15

*.foreground: #687078
*.background: #203830
*.cursorColor: #fac3ae

*color0:   #aea87a
*color1:   #688f5d
*color2:   #65657a
*color3:   #868d81
*color4:   #865e7d
*color5:   #a29c57
*color6:   #a6627b
*color7:   #c5a251
*color8:   #c25c69
*color9:   #c3a39b
*color10:  #f0a448
*color11:  #db5353
*color12:  #f9c2ad
*color13:  #f2a885
*color14:  #ee6949
*color15:  #d55256
