#Ignore all the plugins and spelling
neovim/.config/nvim/plugged/*
neovim/.config/nvim/autoload/*
neovim/.config/nvim/spell
neovim/.config/nvim/.netrwhist


#Ignore log files and such
!mpd/.config/mpd/mpd.conf
mpd/.config/mpd/*
*.swp
*.log
