#Ignore all the plugins and spelling
neovim/.nvim/plugged/*
neovim/.nvim/autoload/*
neovim/.nvim/spell
neovim/.config/nvim/.netrwhist

#Ignore log files and such
!mpd/.mpd/mpd.conf
mpd/.mpd/*
*.swp
*.log
